.section1{
    background: url(../images/seo3-sectionbg8.png);
    background-repeat: no-repeat;
    background-position: center;
}


.section1__container{
    width: 100%;
    padding: 120px 33px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section1 .section1__title{
    font-size: 4.2rem;
    line-height: 100%;
    font-weight: 700;
    color: var(--color-purple-dark-title);
    margin-bottom: 35px;
}

.section1 .section1__heading{
    padding: 2px 15px;
    border-radius: 15px;
    color: var(--color-yellow-main);
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: 700;
    background-color: var( --color-yellow-light-background);
    text-align: center;
    margin-bottom: 30px;
}

.section1 .section1__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 95%;
}

.section1__image{
    width: 100%;
    margin-bottom: 20px;
    max-width: 480px;
}


.section2{
    background: url(../images/seo3-sectionbg1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section2__container{
    width: 100%;
    padding: 80px 33px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section2 .section__description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    width: 92%;
}

.section2 .section__description2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
    width: 100%;
}


.section2 .section__title{
    font-size: 3.2rem;
    line-height: 100%;
    font-weight: 700;
    color: var(--color-purple-dark-title);
    margin-bottom: 30px;
}

.section2 .section__text{
    color: var(--color-text-black-main);
    font-size: 1.3rem;
    line-height:175% ;
    font-weight: 400;
    margin-bottom: 15px;
    max-width: 384px;
}

.list{
    margin-top: 15px;
    list-style: none;
}
.list p{
    color: #737E86;
}

.list .material-symbols-outlined{
    font-size: 2rem;
    padding: 0 15px;
    font-weight: 700;
    color: var(--color-text-black-light);
} 
li{
    display: flex;
}

.line{
    width: 70px;
    height: 1px;
    background-color: #EBEBEB;
    margin: 10px 0;
}



.btn{
    margin: 15px 0;
}

.btn a{
    text-decoration: none;
    color: white;
    background-color: var(--color-purple-main);
    padding: 10px 35px;
    border-radius: 50px;
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: 400;
    display: block;
}

.btn a:hover{
    background-color: #7561E3;
    transition: opacity .2s ease-in-out;
}
.section2__container1{
    margin-bottom: 60px;
}

.banner-stats{
    background-color: var(--color-purple-very-dark-background);
    border-radius: 25px;
    box-shadow: var(--box-shadow-dark);
    padding: 40px 40px 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-stats--number{
    font-size: 6rem;
    line-height: 100%;
    color: white;
    text-align: center;
}

.banner-stats--text{
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--color-yellow-main);
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}

.k{
    font-size: 4.2rem;
}


@media only screen and (min-width: 768px) {
   
    .section1__container{
        max-width: 750px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        flex-direction: row;
    }
    
    
    .section1__image{
        width: 50%;
        height: 50%;
        /* change */
        max-width: 400px;
        max-height: 400px; 
    }

    .section1 .section1__header{
        align-items: start;
        width: 50%;
        padding-right: 35px;
        padding-left: 20px;
    }

    .section1 .section1__title{
        font-size: 6rem;
    }

    .section2__container{
        max-width: 750px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .section2__container1{
        display: flex;
    }

    .section2 .section__description{
        align-items: start;
        width: 50%;
        padding: 0 7px 0 30px;
    }

    .section__description--container{
        width: 92%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .section2 .section__description2{
        align-items: start;
        width: 50%;
        padding: 0 30px 0 7px;
    }
    
    .section2 .section__title{
        font-size: 4.6rem;
        text-align: start;
    }
    
    .section2 .section__text{
        font-size: 1.4rem;
        text-align: start;
        max-width: 312px;
    }

    .section__description2 .section__text{
        font-size: 1.4rem;
        text-align: start;
        max-width: 340px;
    }
    .btn{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn a{
        font-size: 1.4rem;
    }
    
    .banner-stats{
        max-width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 12px;
    }
    
    .banner-stats--number{
        font-size: 8rem;

    }

    .banner-stats>div{
        padding: 0 6.5px; 
    }
    
    .banner-stats--text{
        font-size: 1.8rem;
    }

    .k{
        font-size: 5.6rem;
    }
}


@media only screen and (min-width: 1024px) {
  
    /* about us section */
    .section1__container{
        max-width: 980px;
        padding-left: 0;
        padding-right: 0;
    }
    


    .section1 .section1__heading{
        font-size: 1.4rem;
    }
    
    .section1__image{
        /* change */
        max-width: 460px;
        max-height: 460px;
    }

    .section1 .section1__header{
        margin-bottom: 50px;
        width: 50%;
        padding-right: 47px;
        padding-left: 0;
    }

    .section1 .section1__title{
        font-size: 7rem;
    }

    .section2__container{
        max-width: 980px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .section2__container1{
        display: flex;
    }

    .section2 .section__description{
        margin-bottom: 50px;
        width: 50%;
        padding:0 9px 0 36px;
    }

    .section2 .section__description2{
        margin-bottom: 50px;
        width: 50%;
        padding:0 36px 0 9px;
    }
    
    .section2 .section__title{
        font-size: 5.4rem;
    }
    
    .section2 .section__text{
        font-size: 1.6rem;
        max-width: 420px;
    }

    .section__description2 .section__text{
        font-size: 1.6rem;
        text-align: start;
        max-width: 450px;
    }

    .btn a{
        font-size: 1.6rem;
    }
    
    .banner-stats--number{
        font-size: 6rem;
    }

    .banner-stats>div{
        padding: 0 8.5px; 
    }

    .k{
        font-size: 4.2rem;
    }
    
}



@media only screen and (min-width: 1440px) {

    .section1__container{
        max-width: 1060px;
    }

    .section1 .section1__header{
        margin-bottom: 50px;
        width: 50%;
        padding-right: 53px;
    }

    .section1__image{
        /* change */
        max-width: 520px;
        max-height: 520px;
    }

    .section2__container{
        max-width: 1060px;
    }

    .section2 .section__description{
        margin-bottom: 50px;
        width: 50%;
        padding:0 50px 0 42px;
    }

    .section2 .section__description2{
        margin-bottom: 50px;
        width: 50%;
        padding:0 42px 0 10px;
    }

    .section2 .section__text{
        max-width: 468px;
    }

}    